version: "3"
services:
  cavo:
    image: staser12/watchtowertest:0.0.3
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/stas/.docker/config.json:/config.json
    command: --interval 30
